* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
img {
  max-width: 200px;
}
.card-wrapper {
  width: 200px;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin: 100px auto;
  padding: 10px;
  box-shadow: 2px 2px 10px black;
}
.title-card {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.talents {
  margin-top: 15px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
